extends ../layout
block content
    .container
        .row
            each item in movies
                .col-md-7
                    embed(src="#{movie.flash}",allowFullScreen="true",quality="high",width="720", height="600", align="middle", type="appliction/x-shockwave-flash")
                .col-md-5
                    dl.dl-horizontal
                        dt name
                        dd = movie.title
                        dt doctor
                        dd = movie.doctor
                        dt country
                        dd = movie.country
                        dt year
                        dd = movie.year
                        dt summary
                        dd = movie.summary